[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "r6methods"]
	path = r6methods
	url = https://github.com/jakubsob/r6methods
	shallow = true
	registered = true
