[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cucumber"]
	path = cucumber
	url = https://github.com/jakubsob/cucumber
[submodule "functiondepends"]
	path = functiondepends
	url = https://github.com/jakubsob/functiondepends
[submodule "muttest"]
	path = muttest
	url = https://github.com/jakubsob/muttest
[submodule "r6methods"]
	path = r6methods
	url = https://github.com/jakubsob/r6methods
